@inherits LayoutComponentBase
@using BootstrapBlazor.Components

<div class="page">

    <main>
        @* <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@

        <div class="header">
            <div class="content px-3 fixed-header">
                <div claas="main-title">EIP</div>
            </div>
        </div>
        <article class="content px-4 main-content">
            @Body
        </article>

        <div class="content px-3 fixed-footer">
            <div class="">Footer</div>
        </div>
    </main>
</div>
